
.column-one {
width: 50%
}

.column-two {
margin-left: 170px;
margin-right: 55px;
}

@media only screen and (max-width: 730px) {
  .column-one{
    display: none;
  }
  .column-two {
    margin-left: 145px;
    }
}

/* Clear floats after the columns */
.row {
display: flex;
flex-direction: row;
}

.one {
  background-color: #aaa;
}

.two {
  background-color: #fff;
}

.welcome {
  position: relative;
  right: 125px;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

.welcome2 {
  position: relative;
  right: 125px;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-weight: 500;
}

.welcome3 {
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
}

@media only screen and (max-width: 730px) {
  .welcome{
    right: 40px;
  }
  .welcome2{
    right: 40px;
  }
}

.privacy {
  position: relative;
  right: 130px;
  bottom: 130px;
}

.click {
  color: black;
}

.button {
  position: relative;
  right: 140px;
  bottom: 120px;
}

.thename {
  position: relative;
  right: 100px;
}

.thenameis {
  position: relative;
  left: 120px;
  bottom: 80px;
}

.lat {
  position: relative;
  right: 100px;
  bottom: 80px;
}

.long {
  position: relative;
  left: 220px;
  bottom: 80px;
}

.village {
  position: relative;
  right: 0px;
  bottom: 80px;
}

.phone1 {
  position: relative;
  right: 90px;
  bottom: 140px;
}

.phone2 {
  position: relative;
  left: 130px;
  bottom: 190px;
}

.phone3 {
  position: relative;
  right: 90px;
  bottom: 149px;
}
.phone4 {
  position: relative;
  right: -130px;
  bottom: 208px;
}

/* .ssr {
  position: relative;
  right: -120px;
  bottom: 200px;
} */

.switch {
  display: flex;
  position: relative;
  right: -30px;
  bottom: 76px;
  margin-left: -95px;
}

.switchpage {
display: flex;
flex-direction: row;
margin-top: 50px;
margin-right: 135px;
}

.logo {
  position: relative;
  bottom: 770px;
  left: 50px;
}
