.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html{
  overflow-x: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column-one {
  float: left;
  width: 50%;
  height: 800px; /* Should be removed. Only for demonstration */
}

.column-two {
  position: relative;
  left:140px;
  top: 80px;
  float: right;
  width: 47%;
  height: 800px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.one{
  background-color: #aaa;
}

.two{
  background-color: #fff;
}

.welcome{
  position: relative;
  right:140px;
}

.privacy{
  position: relative;
  right:130px;
  bottom:130px;
}

.click{
  color: black;
  
}

.button{
  position: relative;
  right:140px;
  bottom:120px;
}

.thename{
  position: relative;
  right:100px;
}

.thenameis{
  position: relative;
  left: 120px;
  bottom:80px;
}

.lat{
  position: relative;
  right:100px;
  bottom: 80px;
}

.long{
  position:relative;
  left:220px;
  bottom:80px;
}

.phone1{
  position: relative;
  right:90px;
  bottom:140px;
}

.phone2{
  position: relative;
  left:130px;
  bottom:190px;
}

.phone3{
  position: relative;
  right:90px;
  bottom:149px;
}